body
{
	margin: 0px;
}

#main
{
	margin: 1vw;
}

#main *
{
	list-style: none;
}

#main > h1
{
	margin-left: 2vw;
	font-size: calc(1vw + 1.4em);
}

#filterarea
{
	margin: 2px auto 3vh;
	/* margin-top: 2px;
	margin-bottom: 3vh; */
	padding: 0px 0px 3px;
	width: 60em;
	min-width: fit-content;
	max-width: 100%;
	background-color: #d6d6d6;
	border: 0.1em solid #aaaaaa;
	border-radius: 2vw;
}

#filterarea > h2
{
	display: inline-block;
	margin: 2px 0px 0px 2vw;
	width: fit-content;
	font-size: calc(1vw + 1.5em);
}

#filterallbuttons
{
	display: flex;
	flex-direction: row;
	margin-right: 2vw;
	width: auto;
	font-size: calc(0.4vw + 0.8em);
	justify-content: flex-end;
}

#filterprojectcategoriestags
{
	padding: 0px;
	text-align: center;
}

#filterprojectcategoriestags li h3
{
	margin: 5px 0px 1px;
	text-align: center;
	font-size: calc(0.4vw + 1em);
}

.projectcategory
{
	display: flex;  
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
	justify-content: center;
}

.tagfilterbutton /* all ignored ("ig") or unspecified tags, and default of all others */
{
	margin: 0.1em; 
	padding: 0px 0.3em;
	font-size: calc(0.4vw + 1em);
	color: #000000;
	background-color: #eaeaef;
	border: 0.15em solid #999999;
	border-radius: 0.4em;
}
.tagfilterbutton:hover /* all ignored ("ig") or unspecified tags, and default of all others */
{
	background-color: #fafaff;
}
.tagfilterbutton[state="wh"] /* all whitelisted tags */
{
	color: #111111;
	background-color: #eeeeee;
	border-color: #111111;
}
.tagfilterbutton[state="wh"]:hover /* all whitelisted tags */
{
	background-color: #fefefe;
}
.tagfilterbutton[state="bl"] /* all blacklisted tags */
{
	color: #eeeeee;
	background-color: #111111;
	border-color: #eeeeee;
}
.tagfilterbutton[state="bl"]:hover /* all blacklisted tags */
{
	background-color: #313131;
}

/* Project List */
/* ============ */

#projectlist
{
	display: flex;
	flex-wrap: wrap;
	margin: 0px 1vw;
	padding: 0px 1vw;
	justify-content: center;
}

.project
{
	--projectimg-height: 50%;
	--projectimg-margin-bottom: 2px;
	--projectdesc-margin-left-right: 0.15em;

	position: relative;
	display: flex;
	flex-direction: column;
	/* flex: 0 0 0; */
	margin: 0.5%;
	min-width: 30em;
	max-height: calc(20em + 1.2vh);
	aspect-ratio:  4 / 3;
	background-color: #cccccc;
	border: 0.25em solid #666666;
	border-radius: 0.5em;
}

.projectexpand
{
	position: absolute;
	top: 0;
	margin: 4px;
	padding: 0.15em;
	font-size: 1.4em;
	background-color: #fbf1f7;
	border: 0.1em solid #777777;
	border-radius: 0.3em;
}
.projectexpand:hover
{
	background-color: #ffffff;
}

.projectdate
{
	position: absolute;
	right: 0;
	margin: 4px;
	padding: 0.15em;
	font-size: 1.4em;
	background-color: #cccccc;
	border: 0.1em solid #777777;
	border-radius: 0.3em;
}

.projectimg
{
	flex: 0 0 var(--projectimg-height);
	margin: 2px;
	margin-bottom: var(--projectimg-margin-bottom);
	margin-inline: auto;
	padding: 0px;
	width: auto;
	height: var(--projectimg-height);
	aspect-ratio: auto;
}

.projectname
{
	position: absolute;
	bottom: calc(var(--projectimg-height) - var(--projectimg-margin-bottom) - 2px);
	margin: 2px var(--projectdesc-margin-left-right);
	margin-bottom: 0px;
	padding: 2px 0.25em;
	font-size: 1.8em;
	background-color: #ccccccaa;
	border-top: 0.1em solid #777777;
	border-right: 0.1em solid #777777;
	border-radius: 0 0.4em 0 0;
}

.projectdesc
{
	display: inline-block;
	margin: 0 var(--projectdesc-margin-left-right);
	max-height: 3.4em; /* If I can't write the desc in 3 lines or less, it's too probably too long. */
	font-size: 2em;
	overflow: hidden;
	line-height: 1.1em;
	border-top: 0.1em solid #777777;
}

.projecttaglist
{
	display: flex;
	flex: 1 0 auto;
	flex-wrap: wrap-reverse;
	padding: 2px;
	width: auto;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: end;
}

.projecttag
{
	/* flex: 0 0 auto; */
	margin: 1px;
	padding: 1px;
	font-size: 0.9em;
	background-color: #aaaaaa;
	border: 0.1em solid #888888;
	border-radius: 0.2em;
}
